html {
  width: auto;
  height: auto;
  min-width: 500px;
  min-height: 500px;
  background-color: darkgray;

}

main {
  color: lightskyblue;
  text-align: center;
}

body {
  align-content: center;
  text-align: center;
}

p {
  color: lightskyblue;
  text-align: center;
}

header {
  font-size: 45px;
  color: lightskyblue;
  text-align: center;
}

footer {
  font-size: 45px;
  color: lightskyblue;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkgrey;
  position: static;
  color: lightskyblue;
}

li a {
  display: block;
  font-size: 25px;
  color: lightskyblue;
  margin: 10px, 0px;
}

li a:hover {
  background-color: darkgrey;
}

a {
  font-size: 30px;
  color: lightskyblue;
  text-align: center;
  text-decoration: none;
}