@font-face {
  font-family: 'Pixelar';
  src: url('../fonts/pixelar_regular_w01_regular-webfont.woff2') format('woff2'),
    url('../fonts/pixelar_regular_w01_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Pixelar';
  background-color: #84DCCF;
  min-width: 960px;
  min-height: 640px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center !important;
}

canvas {
  display: flex;
  position: absolute;
  justify-content: center;
}

.level_selector {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 150px;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

h1 {
  font-size: 3em;
  color: white;
}

h2 {
  color: white;
}

h3 {
  font-size: 6em;
  color: white;
}

h3:hover {
  color: #63ADF2;
}

h4 {
  font-size: 1.5em;
  color: white;
  position: absolute;
}

h4:hover {
  color: #63ADF2;
}

footer {
  /* Footer text */
  font-size: 1em;
  color: white;
  position: absolute;
  align-items: center;
  top: 620px;
}

.level_button {
  font-family: 'Pixelar';
  font-size: 2.5em;
  color: white;
  width: 100px;
  height: 100px;
  background-color: #21897E;
  opacity: 0.8;
  border: none;
  border-radius: 20px;
}

.level_button:hover {
  color: #119DA4;
  background-color: #C5FFFD;
  opacity: 1.0;
}

.image1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center !important;
  margin: auto !important;
}

.image2 {
  position: absolute;
  align-items: center;
  top: 100px;
}

.left-top {
  position: absolute;
  margin-left: -450px;
  margin-top: -320px;
}

.right-top-instructions {
  position: absolute;
  font-size: 2em;
  margin-left: 430px;
  margin-top: -360px;
}

.play-button {
  align-items: center;
  position: absolute;
  top: 300px;
}

.page-title {
  position: absolute;
  align-items: center;
  margin-top: -220px
}

.page-text {
  position: absolute;
  align-items: center;
  margin-top: -90px
}

.github {
  position: absolute;
  align-items: center;
  margin-top: 50px;
  margin-left: -90px
}

.instagram {
  position: absolute;
  align-items: center;
  margin-top: 50px;
}

.steam {
  position: absolute;
  align-items: center;
  margin-top: 50px;
  margin-left: 90px
}

.setting-names {
  position: absolute;
  align-items: center;
  text-align: right;
  margin-top: -112px;
  margin-left: -100px;
}

.gameover-button {
  background: none;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
  font-size: 3.5em;
  color: white;
}

.gameover-button:hover {
  color: #63ADF2;
}

.exit-button {
  background: none;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
  font-size: 2.7em;
  color: white;
}
