/* CSS bestand
   Hierin staat de opmaak van onze html pagina
*/

/* marges aan de zijkant van de pagina verwijderen */
html,body {
  margin: 0;
}

/* laat het canvas waarin we onze game maken
   de volle breedte van het window gebruiken 
*/
.p5Canvas {
  height: 100% !important;
  width: 100% !important;
}

div.KMteller {
  position: fixed;
  top: 20px;
  right: 30px;
  width: 100px;
  border: 3px solid #ffffff;
  color: #000000;
  text-align: right;
  background-color: silver;
  font-family: Courier New;
}

p {
  margin: 0px;
  align: right;
  position: absolute;
  left: 10px;
}
